<nodes-container #nodeContainer [nodes]="state.nodes$ | async" [connections]="state.connections$ | async"></nodes-container>
<button mat-raised-button color="primary" (click)="addNode()">Create new node</button>
<button mat-raised-button color="primary" (click)="deleteNode()">Delete node</button>

<button mat-raised-button color="primary" [disabled]="history.undoDisabled$ | async" (click)="history.undo()">Undo</button>
<button mat-raised-button color="primary" [disabled]="history.redoDisabled$ | async" (click)="history.redo()">Redo</button>
