<nodes-container #nodeContainer [nodes]="nodes$ | async" [connections]="connections$ | async"></nodes-container>
<!-- <button mat-raised-button color="primary" (click)="addNode()">Create new node</button>
<button mat-raised-button color="primary" (click)="deleteNode()">Delete node</button> -->

<button mat-raised-button color="primary" (click)="nodeUndo()">Undo Node</button>
<button mat-raised-button color="primary" (click)="nodeRedo()">Redo Node</button>
<!-- <button mat-raised-button color="primary" (click)="connUndo()" [disabled]="!hasConnUndo()">Undo Connection</button>
<button mat-raised-button color="primary" (click)="connRedo()" [disabled]="!hasConnRedo()">Redo Connection</button> -->
